/* 
 * ©2024 满月叶
 * Github: MoonLeeeaf
 * 铃之椅 网页端
 */

 html, body {
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*font: initial;*/
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.content {
    flex: 1;
}

.menu-on-message {
    margin-top: 60px;
    z-index: 100;
}

[n-id=pageChatSeesion]::after {
    content: "";
    position: sticky;
    bottom: 0;
    display: block;
}

.chat-seesion {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* https://segmentfault.com/q/1010000010391524 */
img {
    image-rendering: -moz-crisp-edges; /* Firefox */     
    image-rendering: -o-crisp-edges; /* Opera */      
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

img.round {
    border-radius: 50%;
}
